@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

/* CSS reset */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Utility styles */

.text-gray{
    color:      #545454;
}

/* Commune styles */

body{
    background-color: #f6f9fe;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 50px;
	font-family:'Nunito Sans', sans-serif;
}

.nav-container{
    display: flex;
    justify-content: space-around;
}

.nav-item{
	align-self: center;
	padding: 18px 20px;
}

.nav-item a{
    text-decoration: none;
    color:#545454;
}

.nav-item-1{
    flex-grow: 1;
	margin-left: -15px;
}

.nav-item-6{
	background-color: #372a64;
	border-radius: 8px;
}
.nav-item-6 a{
	color: white;
}

.main-container{
	display: flex;
	justify-content: space-evenly;
	box-sizing: border-box;
	border: 2px solid black;
	height: 60vh;
	margin-top: 50px;
	display: flex;
}

.info-section{
	width: 70%;
	align-self: center;
	border: 2px solid red;
	padding-right: 30px;
}

.early-access-label{
	display: inline;
	color: #ccc2e5;
	font-size: 14px;
	padding: 8px 16px;
	border-radius: 100px;
	background-color: #372a64;
}

.info-section .early-access-label a{
	text-decoration: underline;
}
 .info-section h1{
	font-size: 70px;
	font-weight: 700;
	margin-top: 30px;
	font-family:'Nunito Sans';
}

.info-section .more-info{
	line-height: 25px;
	font-size: 18px;
	font-weight: 200;
	word-spacing: 2px;
	margin-top: 20px;
}

.graphic-section{
	padding-left: 50px;
	box-sizing: border-box;
}

.graphic-section img{
	box-sizing: border-box;
	max-height: 100%;
}